{% assign post = site.tags.first[0] %}

<div class="col-md-6">
<div class="card border-0 mb-4 box-shadow">   
<a href="{{site.baseurl}}{{post.url}}">
<div class="topfirstimage image" style="background-image: url({% if post.image contains "://" %}{{ post.image }}{% else %} {{site.baseurl}}/{{ post.image}}{% endif %}); height: 200px;"></div>     
</a>
<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
<h2 class="h4 font-weight-bold">
<a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
</h2>
<p class="excerpt">
    {{ post.excerpt | strip_html | strip_newlines | truncate: 136 }}
</p>
<div>
{% include postmeta.html %}
</div>
</div>
</div>
</div>